@charset "UTF-8";

body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.menu {
    background-color: #2b155e;
    padding: 35px;
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.form-login {
    background-color: #fff;
    width: 300px;
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-login label, .form-login input {
    display: block;
    margin-bottom: 10px;
}

.form-login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-style:solid;
    border-radius: 10px;
}

.btn-submit {
    background-color:#2b155e;
    width: 100%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color:#2c0783;
}

.mensagem {
    color: #2b155e;
    padding-top: 15px;
    text-align: center;
}
