<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/acervo_usuario.css">
    <title>Acervo</title>
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <nav>
        <a href="/usuario">Home</a>
        <a href="/usuario/acervo">Consultar Acervo</a>
        <a href="/usuario/historico">Histórico  de Empréstimos</a>
        <a href="/">Sair</a>
    </nav>
    <h3>Acervo</h3>
    <div>
        <form method="get" action="/usuario/acervo">
            <label for="tipo_busca">Buscar por:</label>
            <select name="tipo_busca">
                <option value="titulo" {% if tipo_busca == 'titulo' %}selected{% endif %}>Título</option>
                <option value="autor" {% if tipo_busca == 'autor' %}selected{% endif %}>Autor</option>
            </select>
            <input type="text" name="termo_busca" value="{{ termo_busca }}">
            <button type="submit">Buscar</button>
        </form>
        {% if mensagem %}
            {{ mensagem }}
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th class="titulo">Título</th>
                        <th class="autor">Autor</th>
                        <th class="isbn">ISBN</th>
                        <th class="editora">Editora</th>
                        <th class="ano">Ano</th>
                        <th>Exemplares</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                    <tr>
                        <td>{{livro.titulo}}</td>
                        <td>{{livro.autor}}</td>
                        <td>{{livro.isbn}}</td>
                        <td>{{livro.editora}}</td>
                        <td>{{livro.ano}}</td>
                        <td>{{livro.quantidade_exemplares}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <h3><a href="/usuario">Voltar</a></h3>
</body>
</html>