<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <div>
        <h3>Página do Administrador</h3>
        <ul>
            <li><a href="/adm">Home</a></li>
            <li><a href="/adm/acervo">Consultar Acervo</a></li>
            <li><a href="/adm/usuarios">Lista de Usuários</a></li>
            <li><a href="/adm/livro/cadastrar">Cadastrar Livro</a></li>
            <li><a href="/adm/usuario/cadastrar">Cadastrar Usuário</a></li>
            <li><a href="/adm/emprestimo">Realizar Empréstimo</a></li>
            <li><a href="/adm/emprestimos">Lista de Empréstimos</a></li>
            <li><a href="/adm/devolucao">Devolução</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </div>
</body>
</html>