<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cadastrar_usuario.css">
    <title>Cadastro de Usuários</title>
</head>
<body>

    <header>
        <h1></h1>
    </header>
    <nav>
        <a href="/adm">Home</a>
        <a href="/adm/acervo">Acervo</a>
        <a href="/adm/livros/cadastrar">Cadastro de Livros</a>
        <a href="/adm/usuarios/cadastrar">Cadastro de Usuários</a>
        <a href="/adm/emprestimo">Empréstimo</a>
        <a href="/adm/devolucao">Devolução</a>
        <a href="/">Sair</a>
    </nav>
    <h3>Cadastro de Usuários</h3>
    <!--Permite exibição de mensagem na tela-->
    <p class="mensagem">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
    <div>
        <form method="POST" action="/adm/usuarios/cadastrar"><!--inserir rota(url)-->
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
        
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco" required>
        
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>
        
            <label for="telefone">Telefone:</label>
            <input type="tel" name="telefone" id="telefone" required>
        
            <label for="matricula">Matrícula:</label>
            <input type="text" name="matricula" id="matricula" required>
        
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required>
            
            <a href="/adm" class="cancelar">Cancelar</a>
            <button type="submit">Cadastrar</button>
        </form>
        
    </div>
</body>
</html>