<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livros</title>
</head>
<body>

    <!--Permite exibição de mensagem na tela-->
    <div class="mensagem">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>
        <form method="POST" action="/adm/livros/cadastrar">
            <label for="isbn">ISBN:</label>
            <input type="text" name="isbn" id="isbn" required>
        
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" required>
        
            <label for="autor">Autor:</label>
            <input type="text" name="autor" id="autor" required>
        
            <label for="editora">Editora:</label>
            <input type="text" name="editora" id="editora" required>
        
            <label for="ano">Ano de Publicação:</label>
            <input type="text" name="ano" id="ano" required>
        
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>
</html>