<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/editar_livro.css">
    <title>Editar Livro</title>
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <nav>
        <a href="/adm">Home</a>
        <a href="/adm/acervo">Acervo</a>
        <a href="/adm/livros/cadastrar">Cadastro de Livros</a>
        <a href="/adm/usuarios/cadastrar">Cadastro de Usuários</a>
        <a href="/adm/emprestimo">Empréstimo</a>
        <a href="/adm/devolucao">Devolução</a>
        <a href="/">Sair</a>
    </nav>
    <h3>Editar Informações de Livros</h3>
    <!--Permite exibição de mensagem na tela-->
    <p class="mensagem">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
    
    <div>
        <form method="post" action="/adm/acervo/editar/{{ livro.id }}">
            <label for="isbn">ISBN:</label>
            <input type="text" name="isbn" value="{{ livro.isbn }}" required>
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" value="{{ livro.titulo }}" required>
            <label for="autor">Autor:</label>
            <input type="text" name="autor" value="{{ livro.autor }}" required>
            <label for="editora">Editora:</label>
            <input type="text" name="editora" value="{{ livro.editora }}" required>
            <label for="ano">Ano:</label>
            <input type="text" name="ano" value="{{ livro.ano }}" required>
            <label for="quantidade_exemplares">Quantidade de Exemplares:</label>
            <input type="text" name="quantidade_exemplares" value="{{ livro.quantidade_exemplares }}" required>

            <a href="/adm" class="cancelar">Cancelar</a>

            <button type="submit">Salvar Informações</button>
        </form>
    </div>
</body>
</html>
