<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empréstimo</title>
</head>
<body>
    <!--Permite exibição de mensagem na tela-->
    <div class="mensagem">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div>
        <form method="POST" action="/adm/emprestimo"><!--rota-->
        
            <label for="usuario_id">Selecione o Usuário:</label>
            <select name="usuario_id" id="usuario_id" required>
                <option value="" disabled selected>Selecione um usuário</option>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}">Matrícula: {{ usuario.matricula }} - {{usuario.nome}}</option>
                {% endfor %}
            </select>
    
            <label for="livro_id">Selecione o Livro Disponível:</label>
            <select name="livro_id" id="livro_id" required>
                <option value="" disabled selected>Selecione um livro</option>
                {% for livro in livros %}
                    {% if livro.disponivel %}
                        <option value="{{ livro.id }}"> ISBN: {{ livro.isbn }} - Título: {{ livro.titulo }}</option>
                    {% endif %}
                {% endfor %}
            </select>
    
            <button type="submit">Empréstimo</button>
        </form>
        <a href="/adm/emprestimos">Ver Lista de Empréstimos</a>
        <a href="/adm">Voltar para a página inicial</a>
    </div>
</body>
</html>