<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lista_usuarios.css">
    <title>Lista de Usuários</title>
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <nav>
        <a href="/adm">Home</a>
        <a href="/adm/acervo">Acervo</a>
        <a href="/adm/livros/cadastrar">Cadastro de Livros</a>
        <a href="/adm/usuarios/cadastrar">Cadastro de Usuários</a>
        <a href="/adm/emprestimo">Empréstimo</a>
        <a href="/adm/devolucao">Devolução</a>
        <a href="/">Sair</a>
    </nav>
    <h3>Informações de Usuários</h3>
    <!--Exibe mensagem na tela (flash)-->
    <p class="mensagem">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
     </p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Endereço</th>
                    <th>e-mail</th>
                    <th>Telefone</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.matricula}}</td>
                    <td>{{usuario.endereco}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.telefone}}</td>
                    <td>
                        <form method="GET" action="/adm/usuarios/editar/{{usuario.id}}">
                            <button type="submit" class="btn-editar">Editar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h3><a href="/adm">Voltar</a></h3>
</body>
</html>