<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/usuario.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <nav>
        <a href="/usuario">Home</a>
        <a href="/usuario/acervo">Consultar Acervo</a>
        <a href="/usuario/historico">Histórico de Empréstimos</a>
        <a href="/">Sair</a>
    </nav>
    <h3>Olá, {{ usuario.nome}}!</h3>
     <!--Exibe mensagem na tela (flash)-->
     <p class="mensagem">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
     </p>
    <div>
        <img src="/static/usuario.png" alt="usuario">
        <table>
            <thead>
                <tr>
                    <th>Informações do Usuário</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Nome: {{ usuario.nome }}</p>
                        <p>Matrícula: {{ usuario.matricula }}</p>
                        <p>Endereço: {{ usuario.endereco }}</p>
                        <p>Email: {{ usuario.email }}</p>
                        <p>Telefone: {{ usuario.telefone }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="editar"><a href="/usuario/editar">Editar Informações</a></p>
    </div>
</body>
</html>

